<html>
   <body>
      <H1>Hello, <%= userid %></H1>
      <H2>This is a secret page!</H2>
      <form action="/logout" method="post">
        <button> Log out </button></p>
      </form>
    </body>
</html>